results/tr_S01-S03-S04_val_S02_resnet101_ibn_a_2_weight_custom_SGD_lr_0.01_BS_100_150_L_1_1FPR__2022-04-27 17-01-51
results_inference/
eval/ROIs/
reid_features/validation/
.idea/

*.pyc

reid/reid_model/resnet101_ibn_a_2.pth
reid/reid_model/resnet101_ibn_a_3.pth
reid/reid_model/resnet101_electricity.pth.tar-9

reid/reid_model/resnext101_ibn_a_2.pth
datasets/aic19-track1-mtmc/

