results/
results_inference/
eval/ROIs/
reid_features/validation/
.idea/
ROIs/
*.pyc

reid/reid_model/resnet101_ibn_a_2.pth
reid/reid_model/resnet101_ibn_a_3.pth
reid/reid_model/resnet101_electricity.pth.tar-9

reid/reid_model/resnext101_ibn_a_2.pth
datasets/aic19-track1-mtmc/

